
@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Test</h1>
<h3>Volkan</h3>
<table>
    <tr>
        <th>ID</th>
        <th>Ad</th>
        <th>Departman</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Volkan</td>
        <td>BİM</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Nurcan</td>
        <td>Mühendis</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Melisa</td>
        <td>Diş Hekimi</td>
    </tr>
</table>
